.utterances {
   max-width: 100%;
 }
 
 .giscus, .giscus-frame {
   width: 100%;
 }
 
 .giscus-frame {
   border: none;
 }
 
 // applause-button

applause-button {
   width: 80px;
   height: 80px;
   margin: 0 auto;
 
   .count-container {
     color: inherit;
   }
 }
 

 .clap-count {
   @extend h4;
   color: var(--accent-color);
   display: none;
 
   svg {
     height: 1em;
     vertical-align: middle;
     width: 1em;
   }
 
   .flat {
     fill: var(--body-bg);
   }
 
   .outline {
     fill: var(--accent-color);
   }
 }
 